// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// Variables
$primary:	hsl(28, 100%, 50%);
$secondary:	hsl(28, 100%, 45%);
$light:		hsl(30, 23%, 95%);
$dark:      hsl(28, 10%, 14%);
$gray:		hsl(28, 10%, 97%);

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;

.fullheight{
    min-height: calc(100vh - 56px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* public/css/app.css */

.license-plate-input {
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.375rem 0.75rem;
    background-color: #ffcc00;
    /* Geel voor de input */
    border-color: #ffcc00;
    /* Gele randkleur */
    color: #333333;
    /* Tekstkleur voor contrast */
}

.input-group-prepend {
    flex: 0 0 auto;
}

.input-group-text {
    background-color: #0033a0;
    /* Diepblauw voor het blok met NL en vlag */
    color: #ffffff;
    /* Witte tekst voor contrast */
    border-color: #0033a0;
    /* Randkleur voor het blok */
    border-top-right-radius: 0;
    /* Ronding van de rechterbovenhoek verwijderen */
    border-bottom-right-radius: 0;
    /* Ronding van de rechteronderhoek verwijderen */
    padding: 0.375rem 0.75rem;
}

.input-group-prepend .nl-flag {
    font-weight: bold;
}

.btn-primary {
    background-color: hsl(28, 100%, 50%);
    /* Gebruik hsl(28, 100%, 50%) voor de knop */
    border-color: hsl(28, 100%, 50%);
    /* Randkleur gelijk aan achtergrondkleur */
    color: #ffffff;
    /* Witte tekst voor contrast */
    border-radius: 0;
    /* Ronding van de knop verwijderen */
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: hsl(28, 90%, 45%);
    /* Kleur bij hover/focus (lichtere tint) */
    border-color: hsl(28, 90%, 45%);
}

.btn-primary:focus {
    background-color: #e6b800;
    /* Kleur bij hover/focus */
    border-color: #e6b800;
}

/* Specifieke stijl om de uitgeschakelde achtergrondkleur te overschrijven */
.license-plate-input:disabled {
    background-color: #ffcc00;
    opacity: 1;
}
